<div class="container">
  <div class="row">
    <div class="offset-1 col-md-4">
      <h4>商品編集</h4>
    </div>
    <%= form_with model: @item, url: edit_admin_item_path(@item.id) do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>商品画像</td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td>商品名</td>
          <td><%= f.text_field :name, class: 'form-control', :placeholder => "商品名" %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= f.text_area :introduction, class: 'form-control', :placeholder => "説明文を追加してください。" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>