<div class="container">
  <div class="row">
    <div class="offset-1">
      <h4>注文履歴詳細</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table class="borderless">
        <tbody>
          <tr>
            <td><strong>購入者</strong></td>
            <td><%= @order.last_name %> <%= @order.first_name %></td>
          </tr>
          <tr>
            <td><strong>注文日</strong></td>
            <td><%= @order.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>