<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 offset-3">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h2><strong>ご注文ありがとうございました! <i class="fa-solid fa-hand-holding-heart"></i></strong></h2>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>