<div class="container">
  <div class="row">
    <div class="ml-3 col-md-2">
      ジャンル検索
    </div>
    <div class="col-md-8">
      <h4>商品一覧</h4>
    </div>
      <% @items.each do |item| %>
      <div class="col-md-3">
        <%= image_tag item.get_image(200,250) %>
        <div class="mt-2"></div>
        <%= item.name %><br>
        ¥<%= item.price %>
      </div>
      <% end %>
    </div>
  </div>
</div>